{% extends 'common.html' %}

{% load static %}

{% block body %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_4.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center" style="background: #ffc4c4">
            <h1 class="mb-2 bread">Stories</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section" style="background: #ffc4c4" >
			<div class="container">
				<div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/image_1.jpg' %}');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Jan 19, 2019</a></div>
                  <div><a href="#">Areliano</a></div>
                </div>
                <h3 class="heading"><a href="#">"Absolutely delighted with my dining experience at this restaurant! The impeccable service, cozy ambiance, and exquisite dishes exceeded my expectations. Each bite was a burst of flavors, showcasing the chef's expertise. The staff's warmth and attention to detail added to the overall charm. A definite go-to for culinary enthusiasts seeking a memorable and delightful meal. Highly recommended!"</a></h3>
<!--                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/image_2.jpg' %}');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Jan 29, 2019</a></div>
                  <div><a href="#">Halima</a></div>
                </div>
                <h3 class="heading"><a href="#">"Dining at this restaurant was an absolute delight! The exquisite flavors, impeccable service, and inviting ambiance created a memorable experience. Every dish was a culinary masterpiece, reflecting the chef's skill and commitment to quality. The attention to detail and friendly staff made our evening truly special. A must-visit for anyone seeking a remarkable gastronomic journey. Looking forward to returning for another exceptional dining experience!"</a></h3>
  <!--              <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>-->
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{%  static 'images/image_3.jpg' %}');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Feb 10, 2019</a></div>
                  <div><a href="#">Vincent</a></div>
                </div>
                <h3 class="heading"><a href="#">"Dining at this restaurant was an absolute delight! The flavors were exquisite, and the attention to detail in every dish was truly impressive. The ambiance was perfect for a cozy evening, and the service was top-notch. I can't wait to return and savor more of their culinary delights. Highly recommended for anyone seeking a memorable and satisfying dining experience!"</a></h3>
  <!--              <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/image_4.jpg' %}');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Feb 21, 2019</a></div>
                  <div><a href="#">Janet</a></div>
                </div>
                <h3 class="heading"><a href="#">"Dining at this restaurant was an absolute delight! The ambiance was warm, the service impeccable, and the food, a gastronomic masterpiece. Every dish radiated freshness and flavor. A truly memorable experience that exceeded my expectations. Kudos to the chef and the entire team for creating such an exceptional culinary journey. Can't wait to return!"</a></h3>
  <!--              <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/image_5.jpg' %}');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Mar 4, 2019</a></div>
                  <div><a href="#">Jakes</a></div>
                </div>
                <h3 class="heading"><a href="#">"An absolute delight! The restaurant's ambiance, attentive service, and exquisite flavors made for an unforgettable dining experience. Every dish showcased a perfect blend of creativity and quality ingredients. From start to finish, our evening was a culinary journey that left us thoroughly satisfied. A gem in the dining scene, highly recommended for those seeking a top-notch gastronomic adventure!"</a></h3>
 <!--               <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/image_6.jpg' %}');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">Apr 4, 2019</a></div>
                  <div><a href="#">Anonymous</a></div>
                </div>
                <h3 class="heading"><a href="#">"Exceptional dining experience! From the warm ambiance to the delectable dishes, every moment at this restaurant is a delight. The attention to detail in flavors and presentation truly sets it apart. The staff's hospitality adds a welcoming touch. A culinary gem that never disappoints; this restaurant is my go-to for an unforgettable meal!"</a></h3>
  <!--              <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>  -->
              </div>
            </div>
          </div>
        </div>
<!--        <div class="row no-gutters my-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
			</div> -->
		</section>

{% endblock %}


